# Maven
target/
*.class
*.jar
*.war

# Secrets / Environment
.env
*.env
!.env.example

# IDE
.idea/
*.iml
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Spring Boot
spring-shell.log
logs/

# Docker volumes (if mounted locally)
influxdb-data/
grafana-data/
